*{
    background-color: #1D105B;
}

.rodape{
    display: flex;
}

.rodape2{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: monospace;
    align-items: center;
    margin: 4%;
    background-color: #0000006e;
    border-radius: 10px;
    padding-right: 36px;
}

.rodape2 i{
    margin: 13%;
}

.rodape2 p{
    background-color: #00000000;

}

.botaopai{
    display: flex;
    justify-content: center;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.centralpai{
  display: flex;
  justify-content: center;

}

.centralfilho{
   background-color: #00000059;
   border-radius: 10px;
   padding: 8%;
   width: 500px;
   color: white;
}

.lista{
   background-color: #00000006;
   display: flex;
   justify-content: center;
}

.centralfilho i{
  display: flex;
    color: #ffffff;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #00000000;
}